.boutondesactivate{
    margin-left: 10%;
    width: 80%;
    background-color:  #f44336;
}

.boutonanulinvit{
    margin-left: 15%;
    background-color:  #f44336;
}

.gris{
    color: grey;
}

.boutonvalid{
    font-size : 9px;
    width: 100%;
    background-color: mediumseagreen;
}



.message{
    height : auto ;
    white-space: pre-wrap;
    background-color: white;
    margin-top : 0px;
    }