<!--
  Generated template for the Evenement page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tableau de bord</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="base">


  <div>
    <div *ngIf="event != undefined">

      <h3 class="blanc"> Informations Générales </h3>

      <form [formGroup]="fg" (ngSubmit)="validerModification()">


        <div *ngIf="modifier == true">
          <button ion-button class="evenement-bouton-add-tag" (click)="activerModification()">Activer la modification</button>
        </div>
        <div *ngIf="modifier == false">
          <button ion-button class="evenement-bouton-desactivate" (click)="desactiverModification()">Desactiver la modification</button>
        </div>

        <ion-card>

          <ion-item>
            <ion-label stacked class="label">Intitulé :</ion-label>
            <ion-input type="text" disabled="{{modifier}}" value="{{event.intitule}}" formControlName="intitule"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked class="label">Description :</ion-label>
            <ion-input type="text" disabled="{{modifier}}" value="{{event.description}}" formControlName="description"></ion-input>
          </ion-item>
        </ion-card>

        <h3 class="blanc"> Lieu </h3>

        <ion-card>
          <ion-item>
            <ion-label stacked class="label">Adresse :</ion-label>
            <ion-input type="text" value="{{event.adresse}}" disabled="{{modifier}}" formControlName="adresse"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked class="label">Complément :</ion-label>
            <ion-input type="text" value="{{event.complement}}" disabled="{{modifier}}" formControlName="complement"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked class="label">Ville :</ion-label>
            <ion-input type="text" value="{{event.ville}}" disabled="{{modifier}}" formControlName="ville"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked class="label">Cp :</ion-label>
            <ion-input type="text" value="{{event.codePostal}}" disabled="{{modifier}}" formControlName="cp"></ion-input>
          </ion-item>

        </ion-card>

        <h3 class="blanc"> Date </h3>
        <!-- cas ou on est pas en modification on met la date en dur -->

        <div *ngIf="modifier == true || event.etat == 'A_VENIR'">
          <ion-card>
            <ion-item>
              <!--<ion-label stacked class="label">Date</ion-label>-->
              <h3>{{event.dateDebut | date:'dd/MM/yyyy H:m' }}</h3>
            </ion-item>
          </ion-card>
        </div>


        <!-- cas ou on est en modification et que l'évenement n'est pas encore validé on met la date en dateTimePicker -->
        <div *ngIf="modifier == false && event.etat == 'EN_PREPARATION'">
          <ion-card>
            <ion-item>
              <!--<ion-label  stacked class="label">Date</ion-label>-->
              <ion-datetime displayFormat="DD/M/YYYY H:m" min="2017" max="2020-12-31" formControlName="date"></ion-datetime>
            </ion-item>
          </ion-card>
        </div>

        <h3 class="blanc"> Invitation </h3>

        <ion-card>
          <ion-item>
            <ion-label class="label">Nombre de places : </ion-label>
            <ion-input type="text" value="{{event.nbPlaces}}" disabled="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="label">Nombre de d'invités : </ion-label>
            <ion-input type="text" value="{{event.nbInvites}}" disabled="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="label">Nombre de réponses : </ion-label>
            <ion-input type="text" value="{{event.nbPresents}}" disabled="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="label">Message d'invitations : </ion-label>
            <!--<ion-input type="text"  value="{{event.message}}"  disabled="true" formControlName="message"></ion-input>!-->
          </ion-item>
          <ion-item>
            <div class="message">
              <h3>{{event.message}}</h3>
            </div>
          </ion-item>

        </ion-card>

        <div *ngIf="modifier== false">
          <button ion-button class="evenement-bouton-add-tag" type="submit"> Valider les modifications </button>
        </div>
      </form>

      <h3 class="blanc"> Liste des Invitations </h3>
      <div *ngIf="event.etat !='EN_PREPARATION'">
        <h4 class="gris"> Presents </h4>
        <div *ngFor="let contact of presents">
          <ion-card>
            <ion-item>
              <ion-label>{{contact?.nom}} {{contact?.prenom}}</ion-label>
            </ion-item>
          </ion-card>
        </div>

        <h4 class="gris"> Absents </h4>
        <div *ngFor="let contact of absents">
          <ion-card>
            <ion-item>
              <ion-label>{{contact?.nom}} {{contact?.prenom}}</ion-label>
            </ion-item>
          </ion-card>
        </div>
      </div>

      <!-- si on est en préparation, les contacts n'ont pas encore répondu donc c'est la liste des invités -->
      <div *ngIf="event.etat =='EN_PREPARATION'">
        <h4 class="gris"> Liste des Invités</h4>
      </div>
      <div *ngIf="event.etat !='EN_PREPARATION'">
        <h4 class="gris"> N'ayant pas répondu </h4>
      </div>
      <div *ngFor="let contact of sansReponses">
        <ion-card>
          <ion-row>
            <ion-col col-8>
              <ion-item>
                <ion-label>
                  <h3>{{contact?.nom}} {{contact?.prenom}}</h3>
                </ion-label>
              </ion-item>
            </ion-col>
            <div *ngIf="event.etat =='EN_PREPARATION'">
              <ion-col>
                <button ion-button class="evenement-bouton-anul-invit" small (click)="annulerInvitation(contact)"> Retirer </button>
              </ion-col>
            </div>
          </ion-row>
        </ion-card>
      </div>

      <div *ngIf="liste.length > 0">
        <div *ngFor="let art of liste">
          <ion-card>
            <ion-row>
              <ion-col col-8>
                <ion-item>
                  <ion-label>
                    <h3> Produit :</h3> {{art.produit}}</ion-label>
                  <ion-label>
                    <h3> Quantité : </h3> {{art.qte}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <!-- Button ajout d'invitation quand event différent de annulé -->
      <div *ngIf="event.etat != 'ANNULER'">
        <button ion-button class="evenement-bouton-add-tag" (click)="ajouterInvitations()"> Ajouter des invités </button>
      </div>


      <!-- cas evenement en préparation => on lui propose un bouton qui lui permettra de valider et de passer
      dans l'état & venir -->
      <div *ngIf="event.etat == 'EN_PREPARATION'">
        <button ion-button class="evenement-bouton-valid" (click)="passerEvenementEtatAVenir()"> Valider votre évènement afin de lancer les invitations</button>
      </div>
      <div *ngIf="event.etat == 'A_VENIR'">
        <button ion-button class="evenement-bouton-anul-invit" (click)="passerEvenementEtatAnnuler()"> Annuler l'événement</button>
      </div>

    </div>
  </div>

</ion-content>