/* IMAGE */

.accueil-icone {
    font-size: 30px !important;
    color : white !important;
    margin-left: 8px;
    margin-top: 5px;
}

.accueil-icone1 {
    margin-left: 5px;
    float: left;
}

.accueil-icone2 {
    margin-right: 5px;
    float: right;
}

/* STRUCTURE */

/*
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.alerte {
    text-align: left;
    margin-left: 3%;
    line-height: 25px;
    color: black !important;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
}
*/

.accueil-div1 {
    background-color: #f44336;
    width: 100%;
    margin-left: 0px !important;
    font-size: large;
    border-style: double;
    border-color: #f44336;
    border-width: 10px;
    margin-top : 22px;
}

.accueil-div2 {
    background-color: lightgrey;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.accueil-div3 {
    background-color: white;
    border-color: lightgrey;
    border-style: solid;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.accueil-element {
    display: inline-block;
    width: 30%;
    text-align: right;
}

/*
.entete {
    width: 70% !important;
    height: 70px;
    display: inline-block;
}
*/

.accueil-fond {
    background-color: white;
}

.accueil-rond {
    border-style: solid;
    background-color: black;
    border-color: transparent !important;
    border-radius: 45px !important;
    width: 45px !important;
    height: 45px !important;
    display: inline-block;
}

.accueil-parametres {
    position: left;
    margin-left: 10%;
}

.accueil-menu {
    position: right;
    margin-right: 10%;
}

/* ECRITURE */

/*
.message {
    font-size: small !important;
    text-align: left;
    margin-left: 10%;
    margin-right: 2%;
    line-height: 14px;
    border-radius: 4px;
    color: black !important;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: lightgray;
}

.msg {
    display: inline-block;
    float: right;
    font-size: small;
    height: 25px !important;
    width: 40px !important;
    border-radius: 10px;
    background-color: darkred !important;
    margin-top:2%;
    margin-left: 10% !important;
}
*/

.accueil-resultat {
    display: inline-block;
    width: 60%;
    margin-left: 1%;
}

.accueil-textePrincipal {
    text-align: center;
    line-height: 35px;
    color: black !important;
    margin-bottom: 0px !important;
}

.accueil-texte {
    display: inline-block;
    font-size: small !important;
    color: black !important;
    margin-left: 10px;
    width: 70%;
}

.accueil-none-event {
    text-align: center;
    margin-top: 5%;
}