<ion-header padding class="base">
  <ion-grid>

    <ion-row responsive-sm>

      <ion-col>
        <div class="accueil-parametres accueil-rond">
          <!--col-sm-4 offset-sm-4 -->
          <ion-icon name="settings" class="accueil-icone"></ion-icon>
        </div>
      </ion-col>

      <ion-col col-auto class="blanc" >
        <!--  col-sm-6 push-sm-2 -->
        <h2>Save THE Date</h2>
      </ion-col>

      <ion-col>
        <!--  col-sm-4 -->
        <div class="accueil-menu accueil-rond">
          <ion-icon name="menu" icon-only (click)="presentPopover($event)" class="accueil-icone"></ion-icon>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col col-auto class="blanc">
        <h3>{{user.prenom}} {{user.nom}}</h3>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-header>

<ion-content class="accueil-fond">

  <div>

    <div class="accueil-div1">
      Evènements à venir
    </div>
    <!-- boucle quand l'utilisateur à des évenements à venir -->
    <div *ngIf="events != undefined">
      <div *ngFor="let event of events" (click)="openEventPage(event.id)" >

     
        <div class="accueil-div2">
          <ion-label class="accueil-textePrincipal"> {{event.intitule}}</ion-label>
        </div>

        <div class="accueil-div3">
          <div class="accueil-element">
            <ion-label class="accueil-texte">Date :<br/><br/>Adresse :</ion-label>
          </div>
          <div class="accueil-resultat">
            <ion-label class="accueil-texte">
              Le {{event.dateDebut | date:'dd/MM/yyyy H:m'}} <br/><br/>{{event.adresse}} {{event.ville}} {{event.codePostal}}
              {{event.complement}}
            </ion-label>
          </div>
        </div>
     
      </div>
    </div>
    <!-- quand l'utilisateur n'a pas d'évenements à venir -->
    <div class="accueil-none-event" *ngIf="events === undefined">
      Vous n'avez aucun évenement à venir !
    </div>

  </div>
</ion-content>