<!--
  Generated template for the Groupe page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gestion des tags</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="base">

  <!-- bouton ajouter ici -->
  <h3 class="blanc"> Créer un tag </h3>
  <ion-item>
    <ion-label> libelle : </ion-label>
    <ion-input type="text" #libelle > </ion-input>
  </ion-item>

  <button style="margin-left: 15%; width: 70%" ion-button (click)="creerTag(libelle.value)" > Creer un nouveau Tag </button>
  
  <!-- liste des tags ici avec bouton modifier ou supprimer à coté -->
  <div *ngIf="lesTags == undefined">
    <ion-label> Vous n'avez aucun tag</ion-label>
  </div>

  <div *ngIf="lesTags != undefined">
    <ion-list *ngFor="let tag of lesTags">
    <ion-card>
      <ion-item >
        <ion-label><h3 class="groupe-title"> {{tag.libelle }} </h3></ion-label> 
       
      </ion-item>
    </ion-card>
    </ion-list>
  </div>
</ion-content>