/* IMAGE */

/* STRUCTURE */

.base {
    background-color: darkred;
    margin-bottom: 0px !important;
}

.creation-compte-div {
    position: fixed;
    height: 80% !important;
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: white;
    opacity: 0.8;
}

.creation-compte-bouton {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
}

/* ECRITURE */

.creation-compte-h3 {
    text-align: center;
    color: black;
}

.creation-compte-titre {
    text-align: center;
    color: white;
}