<ion-header>

    <ion-navbar>
        <ion-title>Profil</ion-title>
    </ion-navbar>

</ion-header>
<ion-content *ngIf="currentContact != undefined">
<div class="contact-div">
    <img src="assets/icon/list.jpg" class="contact-photo">
      <!--  <h2>Hariniony Andriamananarivo</h2> -->
     <h2> {{currentContact.nom}} {{currentContact.prenom}} </h2>
</div>

<ion-list *ngIf="currentContact.canaux != undefined" padding class="contact-list">
        <ion-list-header class="contact-header">
            <h5 class="contact-title">Coordonnées</h5>
        </ion-list-header>
        <ion-item *ngFor="let can of currentContact.canaux">
             <ion-label class="contact-title"><h3>{{can.typeCanal}} : {{can.valeur}}</h3></ion-label>
        </ion-item>      
</ion-list>
<ion-list padding class="contact-list">
        <ion-list-header class="contact-header">
             <h5 class="contact-title">TAGS du contact</h5>
        </ion-list-header>
        <button ion-button class="contact-bouton-add-tag" (click)="ajouterTag()">Ajouter un tag à ce contact</button>
        <div *ngIf="tagsContact != undefined">
            <div *ngFor="let tag of tagsContact">
            <ion-item>
                   <ion-label class="contact-title"><h3>{{tag.libelle}}</h3></ion-label>
            </ion-item>
                <button ion-button class="contact-bouton-delete-tag" (click)="supprimerTag(tag.id)"> Retirer le tag </button>
            </div>
        </div>
</ion-list>

<!--
    <ion-card *ngIf="currentContact.canaux != undefined">
        <ion-list>
            <ion-item>
                COORDONNEES
            </ion-item>

            <div>
                <ion-item *ngFor="let can of currentContact.canaux">
                    <ion-label>{{can.typeCanal}} : {{can.valeur}}</ion-label>
                </ion-item>

            </div>
        </ion-list>
    </ion-card>!



    <ion-card>
        <ion-list>
            <ion-item class>
                TAGS du contact
            </ion-item>
            <button ion-button color="secondary" (click)="ajouterTag()">Ajouter un tag à ce contact</button>

            <div *ngIf="tagsContact != undefined">
                <div *ngFor="let tag of tagsContact">
                    <ion-item>
                        {{tag.libelle}}
                    </ion-item>
                    <button ion-button color="danger" (click)="supprimerTag(tag.id)"> Retirer le tag </button>
                </div>
            </div>
        </ion-list>
    </ion-card>-->
</ion-content>