.icone-right{
      font-size: 30px !important;
      margin-left : 200px !important;
}

.photo{
    width:125px !important;
    height : 125px!important;
    display: block;
    margin : auto;
    border-color: black;
    border-width : 2px; 
    border-style : solid;
    
}

.div1{
      background-color: lightgrey;
      text-align :center;
      padding-top : 70px;
      padding-bottom: 20px!important;
}

.navbar2{
    padding-top : 0px;
}

.header{
    text-align : left;
    background-color: #F0F0F0;
}

.title{
    color : black  !important;
}

.list{
    display :block;
    padding : 0px !important;
    margin-bottom: 10px !important; 
    margin-top: 0px !important;
}


.list1{
    display :block;
    padding : 0px !important;
    margin-bottom: 15px !important; 
    margin-top: 0px !important;
}
.icone-right2{
      font-size: 30px !important;
      margin-right : 20px !important;
      color : black;
      padding-top : 0px;
}

.thumbnail{
    border-color: black !important;
    border-width : 2px !important; 
    border-style : solid !important;
}

.boutonaddtag{
    margin-left: 10%;
    width: 80%;
    background-color: mediumseagreen;
}

.boutondeletetag{
    margin-left: 25%;
    width: 50%;
    background-color:  #f44336;
}