/* IMAGE */

.avatar{
    width : 100px;
    height : 100px;
    margin-left : 80px;
    margin-top : 2px;
}

.photo{
    border-radius :100%;
}

/* STRUCTURE */

.div{
    background-color : grey;
    font-weight: 5;
}

/* ECRITURE */

.bg{
    background-color: darkred;
}

.info{
    text-align: center;
}