/* IMAGE */


.image{
    width: 100% ;
}

/* STRUCTURE */

.base{
   background-color: darkred;
   margin-bottom: 0px !important;
}

.basPage{
    font-size: x-small;
    text-align: center;
    -webkit-text-fill-color: white;
    -moz-text-decoration-color: white;
    margin-left: 35%;
    margin-right: 35%;
}

.bouton1{
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
}

.bouton2{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

.div{
    position: fixed;
    height: 50% !important;
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    background-color: white;
    opacity: 0.8;
}

/* ECRITURE */

.Titre{
    text-align: center;
    color: white;
}