// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.base {
    background-color: darkred;
    margin-bottom: 0px !important;
}

.blanc {
    color: white;
}

.gris{
    color: grey;
}

.label {
    color: grey;
    font-size: x-small;
}

.info{
    font-size: x-small;
    color: dodgerblue !important;
    margin-left: 13%;
    width : 80% !important;
    text-align: center;
}

.info:hover{
    text-decoration: underline;
}