<!--
  Generated template for the SynchroContact page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>synchro de vos contacts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  
  <h3>Bonjour et bienvenu dans Save the date ! </h3>
  Dans l'optique de pouvoir joindre facilement vos invités,
  nous avons besoins de vos contacts !
  <button (click)="getUserPhoneContacts()"> ok, j'ai compris ! </button>   
  <button (click)="Asupprimer()"> Pour nous => aller vers accueil </button>   
<!--
  <div *ngFor="let c of contactToSend" >
    <p> {{c.nom}} {{c.prenom}}</p>
     <div *ngFor="let tel of c.canaux">
      {{tel.values}}
      {{tel.type}}
    </div> 
  </div>

-->


</ion-content>