<!--
  Generated template for the CreationEvenementInvitation page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gestion des invitations</ion-title>
  </ion-navbar>
  <ion-row>
    <ion-col>
      <button ion-button (click)="validerInvitation()"> Inviter les contacts </button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="valider()">Terminer la création !</button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content padding class="base">

  <!-- <div *ngIf="evenement != null">
    <ion-item>
      <ion-label> Message d'invitation: </ion-label>
      <ion-textarea type="text" [(ngModel)]="evenement.message">{{evenement.message}}</ion-textarea>
    </ion-item>
  </div>-->
  <!-- 3 listes , tag contact invité et non invité -->
  <div *ngIf="invite != undefined">
    <h3> Liste des invités </h3>
    <div *ngFor="let contact of invite">

      <ion-row>
        <ion-item>
          <ion-col col-8>
            {{contact?.nom}} {{contact?.prenom}}
          </ion-col>
          <ion-col>
            <ion-checkbox item-end (click)="retirerContact(contact)"></ion-checkbox>
          </ion-col>
        </ion-item>
      </ion-row>

    </div>
  </div>

  <div *ngIf="tagNonInvite != undefined">
    <h3> Liste tags non invités </h3>
    <div *ngFor="let tag of tagNonInvite">

      <ion-row>
        <ion-item>
          <ion-col col-8>
            {{tag.libelle}}
          </ion-col>
          <ion-col>
            <ion-checkbox item-end (click)="ajouterTag(tag)"></ion-checkbox>
          </ion-col>
        </ion-item>
      </ion-row>

    </div>
  </div>

  <div *ngIf="contactNonInvite != undefined">
    <h3> Liste des contacts non Invités </h3>
    <div *ngFor="let contact of contactNonInvite">

      <ion-row>
        <ion-item>
          <ion-col col-8>
            {{contact?.nom}} {{contact?.prenom}}
          </ion-col>
          <ion-col>
            <ion-checkbox item-end (click)="inviterContact(contact)"></ion-checkbox>
          </ion-col>
        </ion-item>
      </ion-row>

    </div>
  </div>

</ion-content>