<!--
  Generated template for the CreationEvenementInvitation page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gestion des invitations</ion-title>
  </ion-navbar>
  <ion-row>
    <ion-col>
      <button ion-button (click)="validerInvitation()"> Inviter les contacts </button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="valider()">Terminer la création !</button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content padding class="base">

 <!-- <div *ngIf="evenement != null">
    <ion-item>
      <ion-label> Message d'invitation: </ion-label>
      <ion-textarea type="text" [(ngModel)]="evenement.message">{{evenement.message}}</ion-textarea>
    </ion-item>
  </div>-->
  <!-- 3 listes , tag contact invité et non invité -->
  <div *ngIf="invite != undefined">
    <h3> Liste des invités </h3>
    <div *ngFor="let contact of invite">
      {{contact?.nom}} {{contact?.prenom}}
      <ion-item>
        <ion-checkbox item-end (click)="retirerContact(contact)">{{contact?.nom}} {{contact?.prenom}}</ion-checkbox>
        {{contact?.nom}} {{contact?.prenom}}
      </ion-item>
    </div>
  </div>

  <div *ngIf="tagNonInvite != undefined">
    <h3> Liste tags non invités </h3>
    <div *ngFor="let tag of tagNonInvite">
      {{tag.libelle}}
      <ion-item>
        {{tag.libelle}}
        <ion-checkbox item-end (click)="ajouterTag(tag)"></ion-checkbox>
      </ion-item>
    </div>
  </div>

  <div *ngIf="contactNonInvite != undefined">
    <h3> Liste des contacts non Invités </h3>
    <div *ngFor="let contact of contactNonInvite">
      {{contact?.nom}} {{contact?.prenom}}
      <ion-item>
        {{contact?.nom}} {{contact?.prenom}}
        <ion-checkbox item-end (click)="inviterContact(contact)">{{contact?.nom}} {{contact?.prenom}}</ion-checkbox>

      </ion-item>
    </div>
  </div>



</ion-content>